/*--------------------------------------------------------
|                  Main page sections                    |
--------------------------------------------------------*/

/* Classes for custom header and navbar styling */
.my-header h1 {
	color: #333 ;
}
.my-navbar {
	font-family: 'Roboto', sans-serif ;
}
.my-navbar .nav-link {
	color: white ;
}

/* Container for body-content (between header and footer) */
.my-body-container {
	 width: 95%;
	 max-width: 800px;
	 margin: 2em auto 0 auto ;
	 min-height: max(100vh, 800px); /* Ensure footer is far enough down if the rest of the content takes up insufficient vertical space */
}

/* Class for footer styling */
.my-footer {
	margin-top: 2em ;
	padding: 0.5em;
	color: #eee ;
	background-color: #3333ff ;
	border-top: 2px solid #0000ff ;
	font-family: 'Roboto', sans-serif ;
}
.my-footer div {
	display: flex ;
	gap: 1em ;
	justify-content: space-between ;
}
.my-footer hr {
	color: #ffffff10 ;
}

/*--------------------------------------------------------
|                      Subsections                       |
--------------------------------------------------------*/

/* Styling for intro-text */
.my-quiz-intro-text {
	background-color: #222288 ;
	color: white ;
	padding: 20px ;
}

/* Styling for progress status message */
.my-progress-status {
	font-size: 120% ;
	font-weight: bold ;
	margin-bottom: 1em;
	font-family: 'Roboto', sans-serif ;
}

/* Styling for question */
.my-question-container {
	background-color: #222288 ;
	color: black ;
	border: 2px solid black ;
}
.my-question {
	background-color: #222288 ;
	color: white ;
	margin: 1em ;
	font-size: 150% ;
}

/* Styling for answer-choices layout */
.my-answers {
	flex-wrap: wrap ;
	display: flex ;
	gap: 24px ;
	margin: 0 16px 32px 16px ;
	min-height: 260px;
}

/* Styling for results */
.my-results-container {
	background-color: #222288 ;
	color: black ;
	border: 2px solid black ;
}
.my-tie-notification {
	font-size: 140% ;
	color: white;
	margin: 0.5em;
}
.my-results {
	display: flex ;
	flex-wrap: wrap ;
	gap: 1em;
	margin: 1em ;
}
.my-results-info-container {
	margin: 1em ;
	border: 4px inset #111155 ;
	background-color: #151566 ;
}
.my-results-info {
	padding: 0.5em ;
	min-height: 360px;
	color: #eee ;
}

/*--------------------------------------------------------
|                  Misc element styling                  |
--------------------------------------------------------*/

.my-button {
	width: 100% ;
	border-radius: 0 ;
}

/*--------------------------------------------------------
|   Additional classes for Bootstrap component styling   |
--------------------------------------------------------*/

/* Class for custom styling to be used in conjuction with Bootstrap 'card' class */
.my-card {
	background-color: #009 ;
	width: 200px ;
	margin: auto ;
	opacity: 85% ;
	color: white; 
	filter: drop-shadow(0 0 0.3rem black) ;
	min-height: 260px;
}
.my-card img {
	height: 120px;
	object-fit: cover;
}
.my-card:not(:hover) {
	transition: opacity 0.1s ;
}
.my-card:hover {
	opacity: 100% ;
	transform: scale(1.05) ;
}
.my-card-selected {
	opacity: 100% ;
	filter: drop-shadow(0 0 0.4rem white) ;
	outline: 2px solid #ddd ;
}
.my-card-buttonlike {
	background-color: #009 ;
	min-width: 200px;
	margin: auto ;
	color: white; 
	filter: drop-shadow(0 0 0.3rem black) ;
}
.my-card, .my-card-buttonlike .card-text {
	font-family: 'Roboto', sans-serif ;
}

/* Class for custom styling to be used in conjuction with Bootstrap 'carousel' class */
.my-carousel {
	border: 8px solid #222288ff ;;
	height: 40vh ;
	min-height: 300px;
	max-height: 360px;
}
.my-carousel img {
	object-fit: cover ;
	height: 40vh ;
	min-height: 300px;
	max-height: 360px ;
	filter: brightness(0.75) ;
	border: 3px solid black;
}
.my-carousel-caption {
	padding-bottom: 0 ;
	font-size: 200%;
	filter: drop-shadow(0 0 0.3rem black) ;
}